<section class="welcome-page">
  <div class="container d-flex flex-column justify-content-center h-100">
    <div class="row text-black-50">
      <div class="col-4">
        <p class="fw-bold">MedHelper - это иновационная платформа, где вы можете получить все необходимые медицинские
          услуги онлайн 24/7</p>
      </div>
      <ul>
        <li>найти врача и записаться на приём</li>
        <li> онлайн-консультация с докторами</li>
        <li>записаться на обследование</li>
        <li>составить график вакцинации</li>
      </ul>
    </div>
  </div>
</section>
<section class="welcome-about text-black-50">
  <div class="container">
    <div class="row text-center my-4">
      <div class="col-4">
        <div class="px-4 welcome-about-item">
          <h4>Наш сервис бесплатен для пациентов</h4>
          <small class="">Мы работаем без скрытых наценок и комиссий. Вы платите только клинике за предоставленные вам услуги</small>
        </div>
      </div>
      <div class="col-4">
        <div class="px-4 welcome-about-item">
          <h4>Наш сервис бесплатен для пациентов</h4>
          <small class="">Мы работаем без скрытых наценок и комиссий. Вы платите только клинике за предоставленные вам услуги</small>
        </div>
      </div>
      <div class="col-4">
        <div class="px-4 welcome-about-item">
          <h4>Наш сервис бесплатен для пациентов</h4>
          <small class="">Мы работаем без скрытых наценок и комиссий. Вы платите только клинике за предоставленные вам услуги</small>
        </div>
      </div>
    </div>
  </div>
</section>
