<section class="welcome-page">
  <div class="container d-flex flex-column justify-content-around h-100">
    <div class="row text-black-50">
      <div class="col-4">
        <p class="mt-5">MedHelper - это иновационная платформа, где вы можете получить все необходимые медицинские
          услуги онлайн 24/7</p>
      </div>
      <ul>
        <li>найти врача и записаться на приём</li>
        <li> онлайн-консультация с докторами</li>
        <li>записаться на обследование</li>
        <li>составить график вакцинации</li>
      </ul>
    </div>
    <div class="row">
      <div class="row d-inline-flex justify-content-around text-center mt-5">
        <div class="col-3 bg-success rounded-3 p-2">
          <p>Линка куда-то</p>
          <%= link_to "Перейти", home_path, class: "btn btn-success bg-white text-success" %>
        </div>
        <div class="col-3 bg-success rounded-3 p-2">
          <p>Линка куда-то</p>
          <%= link_to "Перейти", home_path, class: "btn btn-success bg-white text-success" %>
        </div>
        <div class="col-3 bg-success rounded-3 p-2">
          <p>Линка куда-то</p>
          <%= link_to "Перейти", home_path, class: "btn btn-success bg-white text-success" %>
        </div>
      </div>
    </div>
  </div>
</section>
