<div class="container text-center">
  <h2 class="text-center py-5">Вход</h2>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice", class: "alert alert-notice") if flash[:notice] %>
    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: 'btn btn-primary btn-lg social-btn', style: "background-color: #dd4b39" %>

</div>
