/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "vaccines";
@import 'bootstrap';
.event-border{
  height: 700px;
  width: 600px;
  margin-top: 50px;
  margin-left: 10px;

}
.btn-event{
  width: 464px;
  margin-top: 10px;
}
body {
  background-color: #b4e0e5;
}
.expert-cart {
  height: 296px;
  margin-top: 10px;
}
.cart-address {
  height: 95px;
}
.contact {
  display: inline-flex;
}

.expert-filter {
  height: 115px;
  margin-top: 10px;
}
.ui-menu{
  max-width: 707.719px;
}
.filter {
  margin-top: 10px;
}
.ui-autocomplete {
  background-color: white;
}
.accaunt-button{
  margin-top: 20px;
  width: 300px;
}
#menu li{
	display: inline-block;
}
.ui-tooltip {
    background: #4a4a4a;
    color: #96f226;
    border: 2px solid #454545;
    border-radius: 0px;
    box-shadow: 0 0
}
.ui-autocomplete {
    background: white;
    border-radius: 0px;
}

.ui-menu .ui-menu-item{
  font-size:20px;
}
.datepicker-dropdown {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.datepicker td, .datepicker th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.85rem;
}

.datepicker {
    // margin-bottom: 3rem;
    // margin-left: 4px;
}
.button-contact{
  width: 392px;
}
.alert-event{
  padding: 0px;
}
.event-border-doctor{
  height: 1500px;
  width: 900px;
  margin-top: 50px;
  margin-left: 10px;

}
.btn-primary{
  background-color: #dd4b39;
}
